{% extends 'base.html.twig' %}

{% block title %}Création d'un Thread
{% endblock %}

{% block body %}
	{% if app.user %}
		<div class="homeBox d-flex flex-column gap-3">
			<h1>Créer votre Thread</h1>
			<div class="formBgCreate d-flex flex-column justify-content-center">
				{{ form_start(createForm, {'attr': {'class': 'd-flex align-items-center flex-column gap-3'}}) }}

				<label for="categories" class="form-label">Catégories</label>
				{{ form_widget(createForm.categories, {'attr': {'class': 'form-control d-flex flex-wrap justify-content-center gap-2', 'multiple': 'multiple'}}) }}
				{{ form_errors(createForm.categories) }}

				{{ form_widget(createForm.title, {'attr': {'class': 'form-control', 'placeholder': 'Titre'}}) }}
				{{ form_errors(createForm.title) }}

				{{ form_widget(createForm.description, {'attr': {'class': 'form-control', 'rows': 3, 'placeholder': 'Description'}}) }}
				{{ form_errors(createForm.description) }}

				{{ form_widget(createForm.main, {'attr': {'class': 'form-control', 'placeholder': 'Contenu'}}) }}
				{{ form_errors(createForm.main) }}

				<button type="submit" class="btn button-nav-orange">Créer</button>

				{{ form_end(createForm) }}

			</div>
		</div>
	{% else %}
		<div class="homeBox">
			<div class="formBgCreate d-flex flex-column justify-content-center">
				<h2>Non connecté, veuillez vous
					<a href="{{ path('app_login')}}">
						<span class="blue">connecter</span>
					</a>
				</h2>
			</div>
		</div>
	{% endif %}
{% endblock %}
