{% extends 'base.html.twig' %}

{% block title %}
	{{ thread.title }}
{% endblock %}

{% block body %}
	<div class="threadBox d-flex flex-column gap-3 justify-content-start">
		<div class="d-flex flex-row gap-2 align-items-center">
			<h1 class="text-center">{{ thread.title }}</h1>
			<div class="status-indicator {% if thread.status == 'open' %}green{% else %}red{% endif %}"></div>
		</div>
		{% if app.user and (thread.getIdUser() == app.user or is_granted('ROLE_ADMIN')) %}
			<a href="{{ path('app_thread_edit', {'id': thread.id}) }}">Modifier le thread</a>
		{% endif %}
		<div class="d-flex flex-row gap-3 justify-content-center align-items-center">
			<h2 class="d-flex flex-row gap-2">
				{% for category in thread.categories %}
					<span class="border-cat">
						{{ category.title }}
					</span>
				{% endfor %}
			</h2>
		</div>
		<div class="formBgDetails d-flex flex-column gap-5 text-white">
			<div class="d-flex justify-content-between">
				<a href="{{ path('app_profile', {'id': thread.getIdUser().id})}}">{{ thread.getIdUser().pseudo }}</a>
				<p>{{ thread.created.format('d/m/Y') }}</p>
			</div>
			<p>{{ thread.main }}</p>
			{% if app.user %}
				<div class="d-flex justify-content-center align-items-center flex-wrap gap-2">
					<a href="{{ path('app_thread_vote_up', {'id': thread.id}) }}" class="btn button-nav-orange">like</a>
					<p>score :
						{{ thread.totalVotes }}</p>
					<a href="{{ path('app_thread_vote_down', {'id': thread.id}) }}" class="btn button-nav-orange">dislike</a>
				</div>
			{% else %}
				<div class="d-flex justify-content-center align-items-center flex-wrap gap-2">
					<a href="{{ path('app_login') }}" class="btn button-nav-orange">like</a>
					<p>score :
						{{ thread.totalVotes }}</p>
					<a href="{{ path('app_login') }}" class="btn button-nav-orange">dislike</a>
				</div>
			{% endif %}
		</div>
		<h2>{{ responses|length }}
			Réponse(s)</h2>
		{% for response in responses %}
			<a href="{{ path('app_response_edit', {'id_thread': thread.id, 'id_response': response.id}) }}" class="formBgDetails d-flex flex-column gap-5 text-white">
				<div class="d-flex justify-content-between">
					{{ response.getUser().pseudo }}
					<p>{{ response.created.format('d/m/Y') }}</p>
				</div>
				<p>{{ response.main }}</p>
			</a>
		{% endfor %}
		<div class="d-flex flex-wrap justify-content-center align-items-center gap-2">
			<a class="btn button-nav-orange" href="{{ path('app_response_new', {'id_thread': thread.id}) }}">Répondre</a>
			<a class="btn button-nav-grey" href="{{ path('app_thread_list') }}">Retour</a>
		</div>
	</div>

{% endblock %}
