{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="homeBox">
		<div class="formBg d-flex flex-column justify-content-center align-items-center gap-5">
			<h1>Register</h1>

			{{ form_errors(registrationForm) }}

			{{ form_start(registrationForm, {'attr': {'class': 'd-flex align-items-center flex-column gap-3'}}) }}
			{{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Email'}}) }}
			{{ form_widget(registrationForm.pseudo, {'attr': {'placeholder': 'Pseudo'}}) }}
			{{ form_widget(registrationForm.plainPassword, {'attr': {'placeholder': 'Password'}}) }}

			<div>
				<label class="white-text">
					{{ form_widget(registrationForm.agreeTerms) }}
					Accepter les CGU
				</label>
			</div>
			<button type="submit" class="btn button-nav-orange">Register</button>
			{{ form_end(registrationForm) }}

		</div>
	</div>
{% endblock %}
